---
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<main>
  <aside class='fixed right-5 top-[50%]'>
    <a
      href='https://github.com/aitortxu2413/countdown'
      target='_blank'
      rel='noopener noreferrer'>
      <img
        class='hover:scale-150 transition-transform'
        src='/github-mark-white.svg'
        alt='Github icon'
        width='30'
        height='30'
      />
    </a>
  </aside>
  <section
    class='uppercase flex gap-x-1 justify-center font-semibold text-2xl mt-10'
    data-date>
    <div class='flex flex-col justify-center items-center'>
      <span
        class='text-4xl tabular-nums'
        data-days
        >00</span
      >
      <span class='text-xs text-center'>{i18n.DAYS}</span>
    </div>

    <span>:</span>

    <div class='flex flex-col justify-center items-center'>
      <span
        class='text-4xl tabular-nums'
        data-hours
        >00</span
      >
      <span class='text-xs text-center'>{i18n.HOURS}</span>
    </div>

    <span>:</span>

    <div class='flex flex-col justify-center items-center'>
      <span
        class='text-4xl tabular-nums'
        data-minutes
        >00</span
      >
      <span class='text-xs text-center'>{i18n.MINUTES}</span>
    </div>

    <span>:</span>

    <div class='flex flex-col justify-center items-center'>
      <span
        class='text-4xl tabular-nums'
        data-seconds
        >00</span
      >
      <span class='text-xs text-center'>{i18n.SECONDS}</span>
    </div>
  </section>
</main>

<script>
  const SECOND = 1000
  const MINUTE = SECOND * 60
  const HOUR = MINUTE * 60
  const DAY = HOUR * 24

  function initCountdown(): void {
    let year: number = new Date().getFullYear();
    const $countdown = document.querySelector('[data-date]')

    if (!$countdown) return

    const $days = $countdown.querySelector('[data-days]') as HTMLElement
    const $hours = $countdown.querySelector('[data-hours]') as HTMLElement
    const $minutes = $countdown.querySelector('[data-minutes]') as HTMLElement
    const $seconds = $countdown.querySelector('[data-seconds]') as HTMLElement

    const formatTime = (time: number): string =>
      Math.floor(time).toString().padStart(2, '0')

    const getChristmasTimestamp = (): number =>
      new Date(`${year}/12/25`).getTime()

    let timestamp: number = getChristmasTimestamp()

    function updateCountdown(): void {
      const now: number = Date.now()
      let diff: number = timestamp - now

      if (diff <= 0) {
        year++
        timestamp = getChristmasTimestamp()
        diff = timestamp - now
      }

      if ($days) $days.innerText = formatTime(diff / DAY)
      if ($hours) $hours.innerText = formatTime((diff % DAY) / HOUR)
      if ($minutes) $minutes.innerText = formatTime((diff % HOUR) / MINUTE)
      if ($seconds) $seconds.innerText = formatTime((diff % MINUTE) / SECOND)
    }

    setInterval(updateCountdown, SECOND)
    updateCountdown()
  }

  initCountdown()
</script>
